/*段落样式*/
body{
	font-family: Arial,宋体 ,textarea;
	color:#838383;
	font-size:12px;
	font-weight:400;
	line-height:18px;
	margin:0;
	padding:0;
	}
.navigation{
	margin:20px auto;
	overflow:hidden;
	width:988px;
	}
.breadcrumb{
	line-height:14px;
	margin:20px 0 20px 0;
	font-size:12px
	}
a:link,a:visited{
	text-decoration:none;
	vertical-align:baseline;
	color:#5588CC;
	}
em{
	text-align:middle;
	font-style:normal;
	font-weight:bold;
	}
.square-nav{
	background-color:#F7F7F7;
	border-color:#ECECEC;
	border-style:solid;
	border-width:1px;
	height:130px;
	overflow-x:hidden;
	overflow-y:hidden;
	}

.ui-nav{
	width:985px;
	float:left;
	background-color:#F7F7F7;
	border-bottom-left-radius:5px;    
	border-bottom-right-radius:5px;   
	border-top-left-radius:5px;       
	border-top-right-radius:5px;    
	border-color:#ECECEC;
	border-style:solid;   
	border-width:1px;   
	height:130px;       
	}
.ui-nav-item{
	width:30%;
	float:left;
	padding-right:30px;
	overflow-x:hidden;
	overflow-y:hidden;
	}
.ui-nav-item-title{
	font-family: Verdana,'微软雅黑';
	font-weight:20px;
	padding:20px 0 10px 30px;
	font-size:24px;
	}
.ui-subnav{
	padding:10px 15px;	
	}
.ui-subnav-item{
	float:left;
	padding-left:20px;
	padding-bottom:5px;
	white-space:nowrap;
	}
.ui-subnav-item  a:hover{
	-moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
	}
/*瀑布流样式*/
.snsContent {
	float:left;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*min-height: 300px;*/
    position: relative;
}
#container_c{
	width:1000px;
	}
.snsContent .sCl{
	position:relative;
	float:left;
	margin-right:15px;
	}
.snsContent .sCl_list{
	position:absolute;
	background-color:#F7F7F7;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-style:solid;
	border-width:1px;
	border-color:#E0E0E0;
	margin-bottom:15px;
	padding:20px 15px;
	width:206px;
	}
.sCl_list_i{
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
	}

ul,ol,li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	}
.sCl_list_i .pic .p{
	font-size:14px;
	padding-top:10px;
	}
/*.addLikeBtn{
	background-image:url("http://www2012.liba.com/images/waterfall/love icon.jpg");
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
}
	
.deLikeBtn{
	background-image:url("http://www2012.liba.com/images/waterfall/black love.jpg");
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
	}*/
.count{
    margin-left: 20px;
	}

	/*icon样式*/

	/*加载样式*/
#infscr-loading {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000000;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 40px;
    color: #FFFFFF;
    left: 45%;
    opacity: 0.8;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 100;
}
/*图片浏览样式*/
.contenter{
	height:620;
	width:760;
	background-color:#F7F7F7;
	border-style:solid;
	border-width:1px;
	border-color:#E0E0E0;
	margin-top:20px;
	margin-bottom:15px;
	padding-bottom:5px;
	padding-top:20px;
	}
.contenter .messge .tright{
	width:30px;
	
	}
.clearfix {
	zoom: 1;
}
.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* back to top */ 
#back-to-top {
	display:block;
	right:5px;
	background-color:#666666;
	bottom:5px;
	border:2px solid #555;
	font-size:13px;
	font-weight:bold;
	padding:4px;
	position:fixed;
	text-decoration:none;
	cursor: pointer;
	width:13px;
	color:#FFF;
}

#back-to-top-span {
	color:#FFF;
}
