/* global */
body{
	font:normal 12px/1.5 arial,\5b8b\4f53; 
	color:#888;
	background:url("../images/marrybg.jpg") no-repeat;
	background-color:#feedf0;
}
a:link{
	text-decoration:none;color:#58C;
}
a:visited{
	text-decoration:none;color:#58C;
}
a:hover{
	text-decoration:underline;outline:none;color:#58C;
}
a:active{
	color:#58C;
}
input[type=submit]::-moz-focus-inner,input[type=button]::-moz-focus-inner{
	border : 0px;
}
input[type=submit]:focus, input[type=button]:focus{
	outline : none;
}
.clearfix:after{
	visibility:hidden; 
	display:block; 
	font-size:0; 
	content:" "; 
	clear:both; 
	height:0;
}
.clearfix{
	zoom:1;
}

/* solution */
.sl-hvalign{
	display:table; 
	overflow:hidden; 
	margin:0 auto; 
	height: 100%;
	*position:relative;
}
.sl-hvalign-cnt{
	display:table-cell; 
	vertical-align: middle; 
	*position:absolute;
	top:50%;
}
.sl-hvalign-cnt-inner{
	*position:relative; 
    *top:-50%;
}

/* fn */
.fn-dashed{
	background:url("images/deco/dashed-h.gif") repeat-x bottom left;
}
.fn-more, .fn-more:link{
	color:#58C;
}
.fn-ad{
	margin-bottom:10px;
}

/* decoration center */
#container{
	margin:0 auto;
	width:1000px;
}
#wrapper{
	width:1000px;
	margin-bottom:50px;
}
#main{
	float:left; 
	width:700px;
}
#sidebar{
	float:right; 
	width:282px;
}

/* title */
.ui-title{
	float:left;
	font:700 16px/2.2 arial; 
	color:#F3A4C4;
}

/* nav */
.ui-nav{
}
.ui-nav-item{
	padding:0;
}
.ui-nav-item-name{
	font:700 14px/2 arial,\5b8b\4f53; 
	color:#111;
}
.ui-nav .fn-dashed{
	margin-bottom:10px;
}
.ui-nav-more{
	float:right;
	margin-bottom:5px;
	}
/* subnav */
.ui-subnav{
	padding:0;
}
.ui-subnav-item{
	padding-bottom:5px; 
	color:#888;
}
.ui-subnav-item-name{
	font:normal 14px/2 arial,\5b8b\4f53;
	color:#111;
}
.ui-subnav-item .ui-list-item{
	padding:3px 0;
	font-family:arial,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;
}
.ui-subnav-item .fn-more{
	line-height:28px;
}

/* list */
.ui-list{
	list-style:none;
}
.ui-list-item{
	list-style:none;
}

/* box */
.ui-box{
	margin-bottom:15px;
	padding:20px;
	border:1px solid #f2cbd0;
	background-color:#FFF;
	-moz-box-shadow:2px 3px #f8dce0; 
	-webkit-box-shadow:2px 3px #f8dce0;
	box-shadow:2px 3px #f8dce0;
}
.ui-box-hd{
	margin-bottom:10px;
	height:20px;
}
.ui-box-hd .ui-title{
	font-size:14px;
	line-height:20px;
}
.ui-box-first{
	border-top-width:0;
	background:url("images/deco/main-topline.png") no-repeat top center #FFF;
}
.ui-list-item-text a:link{
	color:#888;
}
.ui-list-item-text a:visited{
	color:#888;
}
#focus{
	font-family:arial,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;
}
#focus .ui-list{
width:306px;
}
#focus .ui-list-item{
line-height:22px;
}
#focus .ui-list-item-title{
	color:#666;
}
#focus .ui-list-item-first{
	margin-bottom:10px;
	padding-bottom:11px; 
	line-height:1.5; 
}
#focus .ui-list-item-first .ui-list-item-title{
	font:700 16px/22px arial,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1; 
	color:#58C;
}
#focus .ui-list-item-first .ui-list-item-overview{
	margin-top:10px;
	line-height:18px;
}
#brand{
	padding-bottom:5px;
}
#brand .ui-list-item{
	float:left;
	padding:0 10px 10px 0;
	width:103px;
	height:49px;
}
#brand .ui-list-item-6n{
	padding-right:0;
}
#brand .ui-list-item-pic{
	padding:3px 7px;
	border:1px solid #D5D5D5;
	width:87px;
	height:41px;
}
#brand .ui-list-item-pic img{
	max-width:86px;
	max-height:47px;
}
#hotshop, #nav{
	padding:0;
	background-color:#fff6f7;
}
#hotshop .fn-border, #nav .fn-border{
	padding:14px 18px 0 18px;
	border:1px solid #FFF;
}
#hotshop .ui-list{
	font-family:arial,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;
}
#hotshop .ui-list-item{
	padding-bottom:15px;
}
#hotshop .ui-list-item-pic{
	float:left;
	padding:1px;
	border:1px solid #E0E0E0;
	width:96px;
	height:96px;
}
#hotshop .ui-list-item-pic img{
	width:96px;
	height:96px;
}
#hotshop .ui-list-item-cnt{
	margin-left:114px; 
	width:148px; 
	height:100px;
}
#hotshop .ui-list-item-cnt a{
	color:#555;
}
#hotshop .ui-list-item-cnt p{
	margin-top:10px;
	color:#999;
}
#hotshop .ui-list-item-cnt-hl{
	font-weight:bold; 
	color:#690;
}
#topic a:link{
	color:#4e4e4e;
	font-size:14px;
}
#topic a:visited{
	color:#888;
}
#topic .ui-list-item{
	padding:0 10px;
	height:31px;
	line-height:30px; 
	font-family:arial,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;
}
#topic .ui-list-item-odd{
	background-color:#F7F7F7;
}
#topic .ui-list-item .fn-right{
	color:#BBB;
}

/* focus */
.ui-focus{
	position:relative;
	width:350px;
	height:230px;
}
.ui-focus-container{
	width:350px;
	height:230px;
	overflow:hidden;
}
.ui-focus-container-cell, .ui-focus-container-cell img{
	width:350px;
	height:230px;
}
.ui-focus-container-cell{
	display:none;
}
.ui-focus-container-cell-current{
	display:block;
}
.ui-focus-title{
	position:absolute; 
	left:0;
	bottom:0;
	width:350px;
	height:23px;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6; 
	color:#FFF; 
	line-height:23px;
	text-indent:8px;
}
.ui-focus-trigger{
	position:absolute;
	right:0; 
	bottom:0; 
	height:23px;
	font-size:0;
}
.ui-focus-trigger-cell{
	display:inline-block;
	padding:0 7px;
	height:23px;
	line-height:23px;
	color:#FFF;
	cursor:pointer;
	font-size:12px;
}
.ui-focus-trigger-cell-current{
	background-color:#DB0F0F;
}

/* category */
.ui-category{
	padding:0 5px;
}
.ui-category-item{
	margin:5px 0 5px 0;
}
.ui-category-item-name{
	float:right;
	vertical-text:middle;
	padding:0 6px 0 6px;
	margin-left:20px;
	font:700 14px/2.2 arial; 
	color:#6D9C02;
}
.ui-category-item-option{
	margin:0 0 20px 0;
	background-color:#FCFCE4;
	border-style:solid;
	border-width:1px;
	border-color:#FFEAD2;
	line-height:20px;
	padding:5px 5px 5px 10px;
}
.ui-category-item-option .ui-list-item{
	white-space:nowrap; 
	float:left;
	padding-right:30px;
}
/* img */
.ui-box-img{
	float:left;
	padding:5px 5px;
	}
.ui-box-img-right{
	float:right;
	}
.ui-box-img-left{
	float:left;
	width:330px;
	}
.ui-box-img-left-item{
	float:left;
	margin:0 5px 5px 0;
	}
/*form*/
.ui-form-left{
	float:left;
	font-size:0;			
	}
.ui-form-middle{
	float:left;
	}
.ui-form-right{
	float:right;
	font-size:0;
	}
.ui-form-right-item{
	display:block;
	margin-bottom:10px;
	}
.ui-form-middle .ui-list{
	padding:0 0 0 20px;
	width:306px;
	}
.ui-form-middle .ui-list-item-title{
	color:#58C;
	font:700 16px/25px arial,"Microsoft YaHei";
	}
.ui-form-middle .ui-list-item{
	line-height:25px;
	}
/* page */
.ui-page{
	margin:10px 0;
}
.ui-page-item, .ui-page-item em{
	display:block;
	float:left;
	height:22px;
	background:url("images/deco/ui-page.png") no-repeat 0 0; 
	line-height:22px; 
	color:#3376A9;
}
.ui-page-item{
	margin-left:8px;
	padding-left:4px;
}
.ui-page-item em{
	padding-right:4px;
	background-position:right 0;
}
.ui-page-item-current, .ui-page-item-ellipsis, .ui-page-item-current em, .ui-page-item-ellipsis em{
	background:none;
	color:#222;
}

/* ad */

.ui-ad{
	margin-bottom:15px;
	background-color:#FFF;
}
/* #main .ui-ad{-moz-box-shadow:2px 3px #C9CFD7; -webkit-box-shadow:2px 3px #C9CFD7; box-shadow:2px 3px #C9CFD7;} */

/* button */
.ui-button{
	display:block;
	width:68px;
	height:22px; 
	overflow:hidden;
	text-indent:-9999px;
	background:url("http://css.liba.com/css/images/index/index_icon.png") no-repeat -200px top;
}
.ui-button-follow{
	background-position:-69px -313px;
}
.ui-button-followed{
	background-position:0 -313px;
}
/*category1*/
#category1 .ui-title{
	float:none;
	}
	/*heading*/
#heading{
	padding:20px 0 8px 0; 
	height:101px;
	}
#heading a:link{
	float:left;
	}
#heading .ui-nav{
	float:left;
	margin-top:2px;
	}
#heading .ui-nav a:link{
	vertical-align:middle;
	margin-left:20px;
	color:#fff;
	padding:4px 7px;
	font:normal 14px arial;
	background:url("../images/buttom.gif") no-repeat left top;
	}

/*dataline*/
#dataline{display:block;position:relative;float:left;}
.thermo{background:url("../images/dateline.png") no-repeat left top;height:30px;margin:20px 0px;height:43px;width:1000px;font-size:14px;}
.data-thermo{background-position:-4px -7px;}
.ui-thermo{position:absolute;top:31px;left:30px;float:left;}
.ui-thermo-nav{float:left;margin:0 0 0 15px;}
.nav-hover a:hover{text-decoration:none;}
.nav-hover a{float:left;height:20px;padding-left:15px;color:#fff;}
.nav-hover span{padding:0 15px 10px 0;font-weight:700;}

.thermo-hover-left{background:url("../images/dateline.png") no-repeat right top;text-decoration:none;}
.thermo-hover-left{background-position:left -57px;}
.thermo-hover-right{background:url("../images/dateline.png") no-repeat left top;text-decoration:none;}
.thermo-hover-right{background-position:right -91px;color:#F08292;}


.label-hover{display:none;}
.label-hover-left{float:left;background:url("../images/dateline2.png") no-repeat right top;padding:0 0 10px 20px;height:30px;}
.label-hover-left{background-position:left -49px;}
.label-hover-right{background:url("../images/dateline2.png") no-repeat left top;padding:10px 20px 0 0;height:30px;}
.label-hover-right{background-position:right -88px;}
.label-hover-right i{border-left:1px solid #E1E0E0;float:left;margin-left:0;}

.label-item{padding:0 5px;float:left;display:block;}
.label-item a{color:#333;}
.label-item a:hover{color:#58c;text-decoration:none;}
i{border-left:1px solid #E1E0E0;float:left;margin-left:15px;}
.label-icon{background:url("../images/dateline2.png") no-repeat left top;height:10px;width:12px;display:block;position:absolute;}
.label-icon{background-position:-19px -133px;}


.label-1{position:absolute;left:-40px;top:22px;color:#333;}
.label-1 .label-icon{left:86px;top:-1px;}
.label-2{position:absolute;left:29px;top:22px;color:#333;}
.label-2 .label-icon{left:135px;top:-1px;}
.label-3{position:absolute;left:166px;top:22px;color:#333;}
.label-3 .label-icon{left:115px;top:-1px;}
.label-4{position:absolute;left:253px;top:22px;color:#333;}
.label-4 .label-icon{left:140px;top:-1px;}
.label-5{position:absolute;left:405px;top:22px;color:#333;}
.label-5 .label-icon{left:95px;top:-1px;}
.label-6{position:absolute;left:461px;top:22px;color:#333;}
.label-6 .label-icon{left:151px;top:-1px;}
.label-7{position:absolute;left:618px;top:22px;color:#333;}
.label-7 .label-icon{left:118px;top:-1px;}
.label-8{position:absolute;left:440px;top:22px;color:#333;display:block;margin-right:-55px;}
.label-8 .label-icon{left:422px;top:-1px;}