/* global */
body{font:normal 12px/1.5 arial,\5b8b\4f53; color:#333; background-color:#BAD9DB;}
a:link{text-decoration:none;color:#11aabb;}
a:visited{text-decoration:none;color:#11aabb;}
a:hover{text-decoration:underline;outline:none;color:#11aabb;}
a:active{color:#11aabb;}
input[type=submit]::-moz-focus-inner,input[type=button]::-moz-focus-inner{border : 0px;}
input[type=submit]:focus, input[type=button]:focus{outline : none;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix{zoom:1;}

/* fn */
.fn-more, .fn-more:link{color:#58C;}
.fn-ad{margin-bottom:10px;}

/* decoration center */
.container{width:100%;background:#D9F6FE;}
.header{height:340px;width:100%;background-image:url("../images/BG.jpg")}
.wrapper{width:100%;background:#D9F6FE;padding-bottom:30px;}
.main{width:1000px;margin:-50px auto 0 auto;}
/*left*/
.coL{width:465px;float:left;clear:left}
.publishwish{margin-top:-9px;padding:20px;background:#D9F6FE;width:425px;border:1px solid #fff;-moz-box-shadow:0 0 5px 10px #C2ECFC; -webkit-box-shadow:0 0 5px 10px #C2ECFC; box-shadow:0 0 5px 10px #C2ECFC;-moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.ui-tab{position:absolute;top:260px;left:150px;width:200px;}
	.makewish a,.returnwish a{background:url("../images/wishicon.png");overflow:hidden;}
	.make-s a{float:left;display:block;background-position: 0 0;height:57px;width:90px;}
	.return-n a{float:left;display:block;background-position: 0 -168px;height:57px;width:80px;}
	.make-n a{float:left;display:block;background-position: 0 -112px;height:57px;width:90px;}
	.return-s a{float:left;display:block;background-position: 0 -56px;height:57px;width:80px;}
.iwantwish{float:left}
	.limit{margin:-10px 0 5px 0;color:#BBB;float:right;}
	.wish-text{display:block;border:1px solid #ccc;height:95px;width:425px;}
	.wish-btn{color:#fff;font:700 24px/1.5 ו,\5b8b\4f53;padding:5px 20px;text-align:center;float:right;background:url("../images/but-big.jpg");height:41px;width:106px;}
.wishbank{padding:20px;background:#D9F6FE;width:425px;border:1px solid #fff;-moz-box-shadow:0 0 5px 10px #C2ECFC; -webkit-box-shadow:0 0 5px 10px #C2ECFC; box-shadow:0 0 5px 10px #C2ECFC;-moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.superwish{padding:20px 10px;background:#D9F6FE;width:445px;border:1px solid #fff;-moz-box-shadow:0 0 5px 10px #C2ECFC; -webkit-box-shadow:0 0 5px 10px #C2ECFC; box-shadow:0 0 5px 10px #C2ECFC;-moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}}
	.wishbook{}
	.ui-wishbook{padding:0 40px;}
		.ui-wishbook-item{margin:5px;padding:2px 0;text-align:center;float:left;background:url("../images/but-mini.jpg");height:26px;width:105px;}
		.ui-wishbook-item a{color:#fff;font:700 14px/1.5 ו,\5b8b\4f53;}

/*right*/
.coR{width:450px;clear:right;float:right;}
.feedlist{}
	.ui-feedlist{border-bottom:1px dotted #6A7FCE;padding:20px 0;font:normal 14px/1.5 arial,\5b8b\4f53; color:#66656A;}
	.ui-feedlist-face{float:left;height:50px;width:50px;}
	.ui-feedlist-content{margin-left:60px;}
	.ui-feedlist-item{font-weight:700;}
