/* progressbar */
.ui-progressbar{margin:0; padding:0; width:480px; height:80px;}
.ui-progressbar *{margin:0; padding:0;}
.ui-progressbar:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.ui-progressbar{zoom:1;}
.ui-progressbar-pic{float:left; width:80px; height:80px; overflow:hidden; background-color:#FFF;}
.ui-progressbar-pic img{height:80px;}
.ui-progressbar-main{float:left; position:relative; width:400px; height:80px; text-align:center;}
.ui-progressbar-main-bg{position:absolute; top:0; left:0; width:400px; height:80px;}
.ui-progressbar-main-bg img{width:400px; height:80px;}
.ui-progressbar-main-title{display:inline; position:relative; padding:0 6px; height:18px; font:500 12px/18px Arial,\5b8b\4f53 !important; text-align:center;}
.ui-progressbar-main-img{position:absolute; top:0; left:0; height:80px; max-width:80px; overflow:hidden; _width:80px;}
.ui-progressbar-main-img-box{height:80px; display:table-cell; vertical-align:middle; *display:block; *font-size:70px; *font-family:Arial;}
.ui-progressbar-main-img-box img{vertical-align:middle;}
.ui-progressbar-main-date{position:absolute; bottom:0; right:0; padding:0 6px; height:18px; font:500 10px/18px Arial,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1 !important;}

