/*------------------------------------------------
Global Style Sheet since 2011-10-20
version: 1.0
author: Jeffer Xia
email: xzf3201@gmail.com
website: http://www.guang.com/
------------------------------------------------*/
body { color:#333;background:#F9F9EF; } 
#container { width:960px;margin:0 auto; } 
#main { float:left;width:600px; } 
#aside { float:right;width:320px; } 
.layout960 { width:960px;margin:0 auto; } 
.colmain715 { float:left;width:715px; } 
.colaside230 { float:right;width:230px; } 
.l2 { line-height:2; } 
.l20 { line-height:20px; } 
.l30 { line-height:30px; } 
.vline { margin:0 10px;color:#999;font-size:12px; } 
.vline5 { margin:0 5px;color:#ccc;font-size:12px; } 
.bg-red { background:#fef7fa; } 
.bg-blue { background:#f8fcff; } 
.bg-gray { background:#f3f3f3; } 
.pos-r { position:relative; } 
.rw { float:right;line-height:150%;font-size:12px;font-weight:normal; } 
.box-shadow { box-shadow:0 1px 3px rgba(34,25,25,0.2);-moz-box-shadow:0 1px 3px rgba(34,25,25,0.2);-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.2);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; }

/* 头部 */
.header { width:100%;height:123px;margin-bottom:20px;position:relative;z-index:999; } 
.header-s { margin-bottom:10px;height:158px; } 
.header .m-head { height:83px;background:url(../../images/ui/header-bg.png) repeat-x; } 
.header .g-logo { float:left;padding:15px 0; } 
.header .g-logo a { display:block;width:135px;height:53px;background:url(../../images/ui/logo.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.guang.com/images/ui/logo.png",sizingMethod="crop");text-indent:-999px;overflow:hidden; } 
.header .g-slogan { float:right;width:275px;height:22px;line-height:22px;margin-top:35px;padding:6px 5px 6px 15px;background:url(../../images/ui/bg-slogan.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.guang.com/images/ui/bg-slogan.png",sizingMethod="crop"); } 
.header .g-slogan a { color:#fff;font-size:14px;text-decoration:none; }  
.header .g-slogan a.gz-btn { float:right;width:50px;height:22px;margin-left:5px;background-image:url(../../images/ui/slogan-gz.png);background-repeat:no-repeat;text-indent:-999px;overflow:hidden; } 
.header .g-slogan a.gz-weibo { background-position:0 0; } 
.header .g-slogan a.gz-tencent { background-position:-67px 0; } 
.header .m-nav { width:100%;height:40px;background:url(../../images/ui/nav-bg.png) repeat-x; }
.header .fixed { z-index:9990;position:fixed;_position:absolute;top:0;left:0; }  
.header .m-nav a { color:#333; } 
.header .channel { float:left; }  
.header .channel li { float:left;height:16px;line-height:16px;padding:0 12px;margin-top:12px;border-right:1px solid #d5d5d5; } 
.header .channel li.first { padding:0 12px 0 0; }  
.header .channel li.last { border-right:none; }
.header .channel li.new a { display:block;line-height:16px;padding-right:28px;background-image:url(../../images/ui/new.png);background-repeat:no-repeat;background-position:right top; } 
.header .channel li a { font-size:14px;font-weight:bold; } 
.header .channel li a.on { color:#ee2266; } 
.header .channel li dl { float:left; } 
.header .channel li dl dt, .header .channel li dl dd { float:left; } 
.header .channel li dl dd { padding:1px 0 0 6px; } 
.header .channel dd a { color:#666;font-size:12px;font-weight:normal; }
.header .person, .header .regLogin { position:relative;height:20px;margin-top:8px;padding:2px;background:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; } 
.header .person .userPhoto { position:absolute;top:2px;left:2px; } 
.header .person .userPhoto img { width:20px;height:20px; } 
.header .person .arrow-dn  { position:absolute;width:24px;height:20px;top:2px;right:2px;background:url(../../images/ui/arrow-d.png) no-repeat center; } 
.header .person a.gohome { float:left;height:20px;line-height:20px;padding:0 24px 0 28px; } 
.header .person a.gohome:hover, .header .person .set-dropdown li a:hover, .header .regLogin a:hover { color:#55aadd;text-decoration:none; } 
.header .regLogin { padding:2px 20px 2px 10px;line-height:20px;cursor:pointer; } 
.header .regLogin .arrow-dn  { position:absolute;width:10px;height:20px;top:2px;right:10px;background:url(../../images/ui/arrow-d.png) no-repeat center right; } 
.header .regLogin .login-dropdown { display:none;position:absolute;top:31px;left:0;z-index:999;width:108px;padding:0 6px;background:#fff;border:1px solid #e5e5e5; } 
.header .regLogin .login-dropdown li { padding:6px 2px;border-bottom:1px solid #F3F3F3; } 
.header .regLogin .login-dropdown li.last { border-bottom:none; } 
.header .btn-signIn { display:block;margin:8px 0 0 5px;width:50px;height:24px;text-indent:-999px;background:url(../../images/ui/nav-act.png) -74px 0 no-repeat;overflow:hidden; } 
.header .checked {background-position:-128px 0;}
.header .btn-sg { display:block;margin:8px 0 0 5px;width:70px;height:24px;text-indent:-999px;background:url(../../images/ui/nav-act.png) 0 0 no-repeat;overflow:hidden; } 
.header .xiaoxi{ display:block;position:relative;margin:8px 0 0 5px;padding:0 12px;height:24px;line-height:24px;background:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.header .xiaoxi:hover{color:#5ad;text-decoration:none;}
.header .xiaoxi-sum { position:absolute;height:24px;width:24px;top:-9px;right:-7px;color:#fff;text-align:center;line-height:24px;background:url(../../images/ui/xiaoxi-bg.png) no-repeat left top;}
.header .zhufu-logo { display:block;width:100px;height:83px;background:url(../../images/event/zhufu/zhufu.gif) no-repeat;text-indent:-999px;overflow:hidden; } 
/* 底部 */
.guangLink { position:absolute;margin-left:-50px;top:25px;left:50%;width:100px;height:100px; }
.footer { position:relative;height:192px;margin-top:50px;background:url(../../images/ui/footer-bg.png) repeat-x; } 
.footer .footer-nav { width:960px;height:167px;margin:0 auto;padding:25px 0 0;background:url(../../images/ui/footer-logo.png) no-repeat center 25px;overflow:hidden; } 
.footer .footer-nav dl { float:left;display:inline;width:150px;margin-left:50px; } 
.footer .footer-nav dt { line-height:1.2;color:#666;font-size:14px;font-weight:bold; } 
.footer .footer-nav dd {line-height:1.2;margin-top:10px; }
.footer .footer-nav dd a{}
.footer .footer-nav a { color:#666; } 
.footer .footer-nav a:hover { color:#666;text-decoration:underline; }  
.footer .footer-nav dl.followus a { display:block;height:16px;line-height:16px;padding-left:20px;background-image:url(../../images/ui/footer-icons.png);background-repeat:no-repeat; } 
.footer .footer-nav dl.friendlinks { width:300px;margin-left:250px; } 
.footer .footer-nav dl.friendlinks dd { float:left;width:100px;text-align:left; } 
.footer p.cp { position:absolute;bottom:10px;z-index:9;width:100%;text-align:center; } 
a.f-sina { background-position:0 0; } 
a.f-douban { background-position:0 -16px; } 
a.f-diandian { background-position:0 -32px; }
a.f-tencent { background-position:0 -48px; }
/* 回到顶部 */
#returnTop { display:none;position:fixed;_position:absolute;z-index:999;right:15px;bottom:200px;_bottom:auto;width:36px;height:65px;text-indent:-999px;overflow:hidden;background-image:url(../../images/ui/returntop.png);_background-image:url(../../images/ui/returntop-png8.png);background-repeat:no-repeat;background-position:0 0; } 
#returnTop:hover { background-position: 0 -65px; } 
/* 表单 */
.form-row { margin:0 0 20px 0; } 
.form-row label { float:left;width:70px;line-height:32px;vertical-align:middle;text-align:right;color:#666;font-size:14px; } 
input { vertical-align:middle; } 
input, textarea { color:#333;font-size:14px;outline:none; } 
.base-input, .base-txa { width:220px;height:22px;padding:4px;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; } 
.b-input, .b-textarea { width:220px;height:25px;padding:6px 12px;background:#fff;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-webkit-transition:all 0.08s ease-in-out;-moz-transition:all 0.08s ease-in-out; } 
.b-input:focus, .b-textarea:focus { border-color:#ccc;} 
input.check { vertical-align:middle;text-align:center;_margin-top:-3px;margin-right:2px; } 
.submit-btn { font-size:14px;font-weight:bold;padding:6px 26px;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;*width:100px; } 
.submit-btn-s { font-size:12px;padding:4px 10px;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;*width:50px; } 
.btn-submit { cursor:pointer;vertical-align:bottom;*overflow:visible; } 
.disabled { float:left;height:28px;line-height:28px;padding:0 15px;font-size:12px;color:#999;background:#f3f3f3;border:1px solid #dedede;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; } 
.enabled { color:#fff;background:#55aadd; border:1px solid #449acd; } 
::-webkit-input-placeholder { font-size:12px; }
input:-moz-placeholder { font-size:12px; }

/* 提示信息 */
.error-row { display:none;margin:0 0 20px 70px; } 
.error-row .error { width:210px;height:16px;line-height:16px;padding:8px 10px;color:#bb0000;background:#ffe8e8; } 
.error-row .ok { width:185px;height:16px;line-height:16px;padding:8px 10px;background:#f5fec7 url(../../images/ui/correct.png) no-repeat 10px 10px;color:#666;padding-left:35px; } 
.error-row-l { display:none;margin:20px 0 20px 0; } 
.error-row-l .error { width:400px;height:16px;line-height:16px;padding:8px 10px;color:#bb0000;background:#ffe8e8; } 
.error-like {margin:10px 0;}
.error-like .error{width:140px;}
.tip { display:none;position:absolute;width:160px;line-height:16px;padding:8px 10px;color:#666;background:#f3f3f3;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; } 
.errc { color:#bb0000; } 
.error { color:#bb0000;background:#ffe8e8; } 
.ajaxvali { background:#fff url(../../images/ui/loading.gif) left center no-repeat;height:16px; } 
.correct { background:#fff url(../../images/ui/correct.png) left center no-repeat;height:16px; }
.empty { height:32px;line-height:32px;padding:0 10px; }  
/* 按钮 */
.bbl-btn, .bgr-btn { float:left;height:28px;line-height:28px;padding:0 15px;font-size:12px;background-image:url(../../images/ui/button.png);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; } 
.sbl-btn, .sgr-btn { float:left;height:18px;line-height:18px;padding:0 10px;font-size:12px;background-image:url(../../images/ui/button.png);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; } 
.bbl-btn { color:#fff;background-position:-5px -361px;border:1px solid #449acd; } 
.bbl-btn:hover { color:#fff;background-position:-5px -411px;text-decoration:none;border:1px solid #1c82bf; } 
.bbl-btn:active { color:#fff;background-position:-5px -461px;text-decoration:none;border:1px solid #1c82bf; } 
.bgr-btn { color:#666;background-position:-5px -211px;border:1px solid #dedede; } 
.bgr-btn:hover { color:#666;background-position:-5px -261px;text-decoration:none;border:1px solid #bbb; } 
.bgr-btn:active { color:#666;background-position:-5px -311px;text-decoration:none;border:1px solid #bbb; } 
.sbl-btn { color:#fff;background-position:-5px -391px;border:1px solid #449acd; } 
.sbl-btn:hover { color:#fff;background-position:-5px -441px;text-decoration:none;border:1px solid #1c82bf; } 
.sbl-btn:active { color:#fff;background-position:-5px -491px;text-decoration:none;border:1px solid #1c82bf; } 
.sgr-btn { color:#666;background-position:-5px -241px;border:1px solid #dedede; } 
.sgr-btn:hover { color:#666;background-position:-5px -291px;text-decoration:none;border:1px solid #bbb; } 
.sgr-btn:active { color:#666;background-position:-5px -341px;text-decoration:none;border:1px solid #bbb; } 

.ilike { display:inline-block;*display:inline;zoom:1;width:41px;height:30px;line-height:30px;padding:0 10px 0 35px;color:#fff;font-size:12px;overflow:hidden;background-image:url(../../images/ui/button.png);background-position:0 -30px; } 
.ilike:hover { background-position:-86px -30px;text-decoration:none; } 
.ilike:active { background-position:-172px -30px;text-decoration:none; } 
.ilike-m { display:none;position:absolute;bottom:25px;left:62px;width:41px;height:30px;line-height:30px;padding:0 10px 0 35px;color:#fff;font-size:12px;overflow:hidden;background-image:url(../../images/ui/ilike.png);background-position:0 0;_background-image:url(../../images/ui/button.png);_background-position:0 -30px;background-repeat:no-repeat; } 
.ilike-m:hover { background-position:0 -30px;_background-position:-86px -30px;text-decoration:none; } 
.ilike-m:active { background-position:0 -60px;_background-position:-172px -30px;text-decoration:none; } 
.ilike-del { display:none;position:absolute;top:0px;right:0px;width:21px;height:21px;background:url(../../images/ui/delete.png) no-repeat;text-indent:-500px;overflow:hidden;z-index: 99;} 
.like-num { float:left;padding-left:13px;color:#ee2266;background:url(../../images/ui/like-icon.png) no-repeat left center; } 

.likes { float:left;display:block;width:90px;height:50px;background:url(../../images/ui/button.png) 0 -60px;overflow:hidden; } 
.likes:hover { background-position:-90px -60px;text-decoration:none; } 
.likes:active { background-position:-180px -60px;text-decoration:none; } 
.likes em { display:block;padding:8px 0 0 0;line-height:1;color:#fff;font-size:22px;text-align:center; } 
.worth-b { float:left;display:block;width:90px;height:50px;background:url(../../images/ui/button.png) 0 -110px;overflow:hidden; } 
.worth-b:hover { background-position:-90px -110px;text-decoration:none; } 
.worth-b:active { background-position:-180px -110px;text-decoration:none; } 
.worth-b em { display:block;padding:8px 0 0 0;line-height:1;color:#fff;font-size:22px;text-align:center; } 
.worth-b span { display:block;padding:2px 0 6px 0;line-height:1;color:#fff;font-size:12px;text-align:center; } 
.unworth-b { float:left;display:block;width:90px;height:50px;background:url(../../images/ui/button.png) 0 -160px;overflow:hidden; } 
.unworth-b:hover { background-position:-90px -160px;text-decoration:none; } 
.unworth-b:active { background-position:-180px -160px;text-decoration:none; } 
.unworth-b em { display:block;padding:8px 0 0 0;line-height:1;color:#666;font-size:22px;text-align:center; } 
.unworth-b span { display:block;padding:2px 0 6px 0;line-height:1;color:#666;font-size:12px;text-align:center; } 
.statbox { float:left;display:block;width:97px;height:52px;background:url(../../images/ui/statbox.png);overflow:hidden; } 
.statbox:hover { text-decoration:none; } 
.statbox em { display:block;padding:9px 0 0 0;line-height:1;color:#999;font-size:22px;text-align:center; } 
.statbox span { display:block;padding:3px 0 0 0;line-height:1;color:#999;font-size:12px;text-align:center; } 

.editor { float:left;width:28px;height:17px;background:url(../../images/ui/editor.png); } 
.btn-follow, .btn-unfollow { float:left;font-size:12px;font-weight:700;height:22px;line-height:22px;padding:0 10px;overflow:hidden;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px; } 
.btn-follow { color:#559211;background:#e9fbd5;border:1px solid #cee4b6; } 
.btn-follow .add { float:left;width:8px;height:8px;margin:7px 5px 0 0;background:url(../../images/ui/plus.png); } 
.btn-unfollow { width:49px;color:#666;background:#f7f7f7;border:1px solid #dedede; } 
.btn-unfollow span { float:left;position:relative;height:22px;line-height:22px;width:49px;text-align:center; } 
.btn-unfollow:hover { color:#fff;background:#dd2626;border:1px solid #cc0e0e;text-decoration:none; } 
.btn-unfollow:hover span { top:-22px; } 
 
/* 分享 */
.share a { float:left;width:16px;height:16px;margin-left:5px;background-image:url(../../images/ui/icons-share.png);background-repeat:no-repeat; } 
.share-link a { display:block;line-height:16px;padding-left:20px;background-image:url(../../images/ui/icons-share.png);background-repeat:no-repeat; } 
.s-sina { background-position:0 -417px; } 
.s-renren { background-position:0 -80px; } 
.s-tencent { background-position:0 -280px; } 
.s-qzone { background-position:0 -371px; } 
.s-163 { background-position:0 -463px; } 
.s-douban { background-position:0 -120px; } 
.s-qq { background-position:0 0; } 
.s-tao { background-position:0 -163px; } 
.s-alipay { background-position:0 -241px; } 
.l-sina, .l-qq, .l-tao { display:block;width:120px;height:24px;text-indent:-1999px; } 
.l-sina { background:url(../../images/ui/l-sina.png); } 
.l-qq { background:url(../../images/ui/l-qq.png); } 
.l-tao { background:url(../../images/ui/l-tao.png); }
/* 分享开关 */
.share-switch {background-image:url(../../images/ui/share-icon-gray.png);background-repeat:no-repeat;}
.ss-sina-btnclick-on{background-position:0 -417px;}
.ss-tencent-btnclick-on{background-position:0 -280px;}
.ss-renren-btnclick-on{background-position:0 -80px;}
.ss-qzone-btnclick-on{background-position:0 -371px;}
.ss-163-btnclick-on{background-position:0 -463px;}
.ss-douban-btnclick-on{background-position:0 -120px;}
.ss-sina-btnclick-off{background-position:-45px -417px;}
.ss-tencent-btnclick-off{background-position:-45px -280px;}
.ss-renren-btnclick-off{background-position:-45px -80px;}
.ss-qzone-btnclick-off{background-position:-45px -371px;}
.ss-163-btnclick-off{background-position:-45px -463px;}
.ss-douban-btnclick-off{background-position:-45px -120px;}
/* 分页 */
.page-box { display:none;margin-top:20px;text-align:center; } 
.page-box .pagin { position:relative;height:28px;margin:0 auto;padding:70px 70px 0 0; } 
.pagin span { float:left;height:20px;line-height:20px;padding:3px 10px;margin-left:8px;color:#666;font-size:14px; } 
.pagin a { float:left;height:20px;line-height:20px;padding:3px 10px;margin-left:8px;font-size:14px;border:1px solid #dedede;background:#fff;overflow:hidden;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; white-space: nowrap; }  
.pagin a:hover { color:#fff;background:#55aadd;text-decoration:none; } 
.page-box .pagin .pagin-scene { position:absolute;width:130px;height:70px;top:7px;right:0;z-index:9;background:url(../../images/ui/pagin-bg.png) no-repeat; } 
.pagin a,
.pagination a {text-decoration: none;}
.pagin a,.pagination a, .pagination span {}
.pagination .current {}
.pagination .current.prev, .pagination .current.next{}
.pagin span.prev,.pagination span.prev,
.pagin span.next,.pagination span.next{display:none;}
/* 标签链接 */
.tags a { float:left;height:24px;line-height:24px;padding:0 8px;margin:0 5px 5px 0;color:#999;word-break:keep-all;white-space:nowrap;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;background:#e8e8e8;overflow:hidden; } 
/* 更多 */
.more-load { display:block;height:30px;line-height:30px;text-align:center;color:#666;font-size:12px;font-weight:bold;background-color:#ededed; } 
.more-load:hover { text-decoration:none; } 
/* 浮层 */
.g-dialog { display:none;width:600px;border:5px solid #ccc;border:5px solid rgba(204, 204, 204, 0.8);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; } 
.g-dialog .dialog-content { position:relative;min-height:120px;padding:1px;background:#fff;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; } 
.g-dialog .hd { height:20px;padding:10px 15px;background:#f7f7f7;border-bottom:1px solid #dedede;overflow:hidden; } 
.g-dialog .hd h3 { font-size:14px; } 
.g-dialog .close { position:absolute;top:12px;right:16px;width:16px;height:16px;background:url(../../images/ui/close.png) no-repeat;color:#999;font:11px "Comic Sans MS"; } 
.g-dialog .close:hover { color:#55aadd;text-decoration:none;background-position:0 -16px; } 
.g-dialog .bd { padding:20px; } 
#loginDialog .bd { padding:20px 0; } 
#loginDialog .bd .bd-l { float:left;width:330px;padding:10px 0 0 0;border-right:1px dotted #cdcdcd; } 
#loginDialog .bd .bd-r { float:right;width:251px;padding:10px 0 0 0; } 
#loginDialog .bd .bd-l .noaccount { margin:0 30px;line-height:18px;padding:16px 0 16px 40px;color:#666;border-top:1px dotted #cdcdcd; } 
#loginDialog .bd .bd-r .outlogin-b li { margin-bottom:20px; } 
#loginDialog .bd .bd-r .outlogin-s li { margin-bottom:8px; }  
#loginDialog .bd .act-row { margin-bottom:0; } 
/* 第三方登录设置基本信息浮层 */
.set-box { width:360px;margin:0 auto; } 
.set-box .title-info { padding:40px 0 20px 0;border-bottom:1px dotted #cdcdcd; } 
.set-box .title-info .face { float:left;width:50px;height:50px;overflow:hidden; } 
.set-box .title-info .info { float:right;width:290px; } 
.set-box .title-info .info .name { color:#333;font-size:14px;font-weight:bold; } 
.set-box .title-info .info p { color:#333;margin-top:10px; } 
.set-box .set-form { margin-top:25px; } 
/* 喜欢评论框浮层 */
.c-dialog { display:none;position:absolute;z-index:999;width:160px;height:20px;padding:8px;background-color:#fff;border:3px solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;overflow:hidden; } 
.c-dialog p.title { color:#999;font-size:12px;line-height:20px;padding-left:20px;background:url(../../images/ui/correct.png) left center no-repeat; } 
.c-dialog .cmt-txa { width:142px;height:24px;line-height:18px;padding:6px 8px 0;border:1px solid #ddd; } 
.c-dialog .cmt-act { margin-top:8px; } 
.cmtclose { color:#999; } 
.cmtclose:hover { text-decoration:none; } 
.speakmore{position:absolute;top:8px;right:8px;cursor:pointer;}
/* 鉴定评论框浮层 */
#commentDialog { width:450px; } 
#commentDialog .cmt-txa { width:382px;height:64px; } 
#commentDialog .pub { float:left;width:64px; } 
/* 喜欢鉴定评论打标签浮层 */
#comment-form  h4{ height:20px;line-height:20px;font-weight:normal; }
#comment-form .commentText-hd a:hover{ text-decoration:none; }
#comment-form .commentText-hd .worth{ height:20px;line-height:20px; }
#comment-form .worth-radioclick-on,#comment-form .worth-radioclick-off,#comment-form .worth-radioclick-on span,#comment-form .worth-radioclick-off span{background-image:url(../../images/ui/comment-worth-bg.png);background-repeat:no-repeat;}
#comment-form .worth-radioclick-on{color:#fff;float:left;height:22px;padding-left:10px;background-position:0 0; }
#comment-form .worth-radioclick-on span{cursor:pointer;float:left;height:22px;line-height:22px;padding-right:10px;background-position:right 0;}
#comment-form .worth-radioclick-off{color:#666;float:left;height:22px;padding-left:10px;background-position:0 -22px;}
#comment-form .worth-radioclick-off span{cursor:pointer;float:left;height:22px;line-height:22px;padding-right:10px;background-position:right -22px;}
#comment-form .commentText-bd{padding-top:10px;}
#comment-form .commentTags-row{padding-top:10px;}
#comment-form .commentTags-row h4 { padding-bottom:10px; }
#comment-form .commentTags-row h4 span{color:#999;font-size:12px;font-weight:normal;}
#comment-form .commentTags-row input{height:16px;width:382px;padding:8px 12px;}
#comment-form .bought input{margin-right:5px;}
#comment-form .bought { height:20px;line-height:20px; }
#comment-form .usedTags-row{padding:10px 0;border-bottom:1px dotted #ccc;}
#comment-form .usedTags-row h4{ width:65px;float:left;white-space:nowrap;overflow:hidden; }
#comment-form .usedTags-row ul { margin-left:65px; }
#comment-form .usedTags-row ul li{float:left;height:18px;cursor:pointer;line-height:18px;padding:0 5px;white-space:nowrap;background:#f3f3f3;border:1px solid #e8e8e8;color:#666;margin:0 4px 8px 4px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; }
#comment-form .usedTags-row ul li:hover{border:1px solid #ccc;background:#f3f3f3;}
#comment-form .usedTags-row ul li.selected{color:#aaa;}
#comment-form .share-comment { float:right;padding-top:12px; }
#comment-form .share-comment span{ float:left; }
#comment-form .share-comment ul{ float:left;height:16px; }
#comment-form .share-comment ul li{ float:left;width:16px;height:16px;cursor:pointer;margin-right:5px; }

/* 提示框浮层 */
.tip-dialog { width:360px; } 
.tip-dialog .act-row { margin-top:20px;text-align:center; } 

/* 主题样式 */
/* 主题－banner */
.banner { position:relative;height:270px;overflow:hidden; } 
.banner .banner-title { position:absolute;top:35px;left:30px;z-index:10;width:600px; } 
.banner .banner-title .maintitle { color:#f3e5cd;font-size:50px; } 
.banner .banner-title .subtitle { color:#d3c2ad;font-size:14px; } 
.banner .editor { display:none;position:absolute;bottom:25px;left:35px;z-index:11; } 
.banner .editor .face { float:left;width:50px;height:50px;margin-right:10px; } 
.banner .editor .info { float:left;padding:7px 0 0 0; } 
.banner .editor .info p { line-height:1.5;color:#fff; } 
.banner .editor .info p .name { font-size:16px; } 
.banner .tags { position:absolute;bottom:0;left:0;z-index:10;width:960px;height:50px;background:rgba(77,25,7,.6);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#994d1907',endColorstr='#994d1907'); } 
.banner .tags span { color:#ccc;line-height:24px;margin:13px 15px 0 0; } 
.banner .tags a { float:right;height:24px;line-height:24px;padding:0 8px;margin:13px 15px 0 0;color:#ccc;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;background:#6c361c;overflow:hidden;cursor:default; } 
.banner .tags a:hover { text-decoration:none; }

/* 主题－画报流 */
.goods-wall { position:relative;min-height:500px;margin-top:20px; } 
.goods { position:absolute;width:210px;padding:10px;color:#999;background-color:white;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;box-shadow:0 1px 3px rgba(34,25,25,0.2);-moz-box-shadow:0 1px 3px rgba(34,25,25,0.2);-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.2);transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s; } 
.goods .goods-pic { position:relative;width:210px;overflow:hidden; }  
.goods .goods-pic img { max-width:210px; } 
.goods .goods-pic a{display:block;text-align:center;}
.goods .goods-stat { height:20px;line-height:20px;padding:10px 5px; } 
.goods .comments { border-top:1px dotted #d1d1d1;overflow:hidden; } 
.goods .comments li { width:205px;line-height:18px;padding:10px 0 0 5px;/*white-space:nowrap;*/word-wrap:normal;word-break:normal;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden; } 
.goods .comments li a { color:#999;text-decoration:underline; } 
.goods-block { opacity:0; } 
.goods h3 { line-height:1.6;padding-top:10px;color:#999;font-weight:normal; }
.goods-fill { position:absolute;width:230px;background:#eae7e2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; } 
.goods-loading { display:none;margin-top:15px;padding:15px 0;text-align:center;font-size:14px;font-weight:bold;background:url(../../images/ui/loading1.gif) center no-repeat; } 

/* 交互提示 */
.tip-success{color:#88bb33;padding:10px;text-align:center;font-size:18px;font-weight:bold;}

/* 提示框 */
.tipbox { display:none;position:absolute;z-index:999999;padding:10px 15px;width:200px;color:#fff;text-align:left;font-size:12px;background:#000;border:1px solid #fff;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000; } 
.tipmodal{width:160px;color:#666;-moz-box-shadow:0 2px 2px #ddd;-webkit-box-shadow:0 2px 2px #ddd;box-shadow:0 2px 2px #ddd;border-radius:4px;--moz-border-radius:4px;--webkit-border-radius: 4px;}
.tipmodal-ok{background:#f5fec7 url(../../images/ui/correct.png) no-repeat 10px 10px;border-color:#cad49c;color:#666;padding-left:35px;}
.tipmodal-general{background-color:#fff;border-color:#d6d6d6;}
.tipmodal-general-short{width:auto;background-color:#fff;border-color:#d6d6d6;}
.tipmodal-error{background-color:#ffe1e2;border-color:#ddb0b2;}
.tipmodal-error2{background:#fff url(../../images/ui/alert.png) no-repeat 10px 10px;border-color:#d6d6d6;padding-left:35px;color:#666;}
.tipmodal-error3{width:auto;background:#fff url(../../images/ui/alert.png) no-repeat 10px 10px;border-color:#d6d6d6;padding-left:35px;color:#666;}

/* 欢迎页面 */
.startbg { position:relative;zoom:1;height:100%;background:url(../../images/ui/cai.png); } 
.startbg .startpage { position:absolute;z-index:10;top:50%;left:50%;width:960px;height:460px;margin:-285px 0 0 -480px;background:#fff;overflow:hidden; } 
.startpage h1 { color:#333;font-size:50px;padding:35px 0 20px;line-height:1;text-align:center; } 
.startpage h2 { color:#666;font-size:18px;padding:0 0 30px;line-height:1;text-align:center; } 
.startpage h3 { color:#999;font-size:12px;text-align:center;line-height:1; } 
.startpage .guys { padding:10px 75px 0; }
.startpage .guys li{ height:80px;width:80px;float:left;margin:1px 1px 0 0;position:relative;overflow:hidden; }
.startpage .guys .name { text-indent:0.5em;color:#fff;height:18px;width:80px;left:0px;line-height:18px;position:absolute;bottom:-18px;background:rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000'); } 
.guys-joinus a:hover img{opacity:0.8;filter:alpha(opacity=80);}
.startpage .fromEREB { height:10px;margin-right:5px;line-height:999em;overflow:hidden;background:url(../../images/ui/fromEREB.jpg) right center no-repeat; } 
.startbg .startbtn { display:block;position:absolute;z-index:10;top:50%;left:50%;width:960px;height:55px;line-height:50px;margin:175px 0 0 -480px;background:url(../../images/ui/start.png) no-repeat;text-align:center;color:#fff;font-size:24px;font-family:'微软雅黑','YaHei','黑体','Hei',Tahoma,Helvetica,arial,sans-serif;overflow:hidden; } 
.startbg .startbtn:hover { text-decoration:none; } 
.startlogo { position:absolute;z-index:9;bottom:0;left:0;width:100%;height:83px;margin-bottom:0; } 
.thepage .g-logo a { position:relative; } 
.thepage .g-logo a .goup { position:absolute;z-index:9;left:5px;top:5px;width:10px;height:10px;text-indent:-999px;overflow:hidden;cursor:pointer; } 

/* 友情链接页面 */ 
.friends{ padding:40px;background:#fff;overflow:hidden; } 
.friends h2 { font-size:16px;padding-bottom:10px;border-bottom:1px dotted #d1d1d1; } 
.friends h3 { font-size:14px;padding:20px 0 15px; } 
.friends ul.imglinks { width:912px; } 
.friends ul.imglinks li { float:left;display:inline;width:120px;height:50px;margin:0 32px 20px 0; } 
.friends ul.textlinks { padding-left:15px; }
.friends ul.textlinks li { float:left;display:inline;width:140px;margin-bottom:20px;line-height:18px; } 
.friendApply {padding-top:10px;border-top:1px dotted #d1d1d1;}
.friendApply h3 { font-size:14px;padding:5px 0 10px; }
.friendApply p{ line-height:2;}

/* 404页面 */  
.notfound { width:960px;height:450px;background:#fff url(../../images/ui/404bg.jpg) right top no-repeat;overflow:hidden; } 
.notfound .text { padding:55px 65px;width:255px; } 
.notfound .text h2 { font-size:16px;padding-bottom:10px; } 
.notfound .text .vline { color:#dedede; } 
.notfound .text .words { margin-top:30px;padding-top:10px;border-top:1px dotted #d1d1d1;line-height:2.5; } 

/* 宕机页面 */
.toobusy { position:relative;width:960px;height:620px;background:#fff url(../../images/ui/toobusy.png) center no-repeat;overflow:hidden; } 
.toobusy .text { position:absolute;z-index:9;left:130px;bottom:35px; } 

/* 公共页面 */
.common { padding:40px;margin:0 auto;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1); } 
.common h2 { line-height:1.2;margin:0 auto 20px;padding:0 0 10px 0;font-size:16px;border-bottom:1px dotted #d1d1d1; } 
.common p { margin:0 0 20px 0; } 
.common .job-block { margin-bottom:30px; } 
.common .job-block h3 { font-size:14px;font-weight:normal;margin-bottom:20px; } 

/* 分享 */
.samdwich{padding: 15px 5px 0 5px;}

/* 标签背景 */
.tag-link li { float:left;display:inline;margin:10px 4px 0 4px;padding-left:12px;background:url(../../images/ui/tag-bg2.png) no-repeat;_background:url(../../images/ui/tag-bg2-ie6.png) no-repeat;cursor:pointer; } 
.tag-link li.focus { background-position:0 -100px; } 
.tag-link li:hover, .tag-link li.hover { background-position:0 -50px; } 
.tag-link li.on, .tag-link li.on:hover { background-position:0 -150px; } 
.tag-link li a { float:left;display:block;height:25px;line-height:25px;padding:0 14px 0 3px;color:#333;background:url(../../images/ui/tag-bg2.png) no-repeat right -25px;_background:url(../../images/ui/tag-bg2-ie6.png) no-repeat right -25px;white-space:nowrap; } 
.tag-link li.focus a { background-position:right -125px; } 
.tag-link li:hover a, .tag-link li.hover a { background-position:right -75px; } 
.tag-link li.on a, .tag-link li.on:hover a { color:#fff;background-position:right -175px; } 
.tag-link li a:hover { text-decoration:none; }

/* 用户分享宝贝 */
.sg-dialog { position:absolute;z-index:9997;width:396px;background:#fff;border:none;border:1px solid #ccc\9;box-shadow:0 0 3px rgba(34,25,25,0.2);-moz-box-shadow:0 0 3px rgba(34,25,25,0.2);-webkit-box-shadow:0 0 3px rgba(34,25,25,0.2); } 
.sg-dialog .content { position:relative;padding:12px 15px;min-height:0; } 
.sg-dialog .content .title { padding-bottom:6px;font-weight:bold;color:#333; } 
.sg-dialog .sg-form .sg-input { float:left;_display:inline;width:290px;margin-right:10px; } 
.sg-dialog .sg-form .url-sub { margin-top:2px;cursor:pointer;*visibility:visible;width:56px\9; } 
.sg-dialog .sg-form .text-tip { display:none;padding:5px 0;line-height:1.1; } 
.sg-dialog .manual-upload { line-height:1.1;padding:5px 0 0 0;border-top:1px dotted #d1d1d1; } 
/* 弹出层箭头 */
.tipbox-up { left:50%;margin-left:-8px;top:-10px;position:absolute; } 
.tipbox-up em, .tipbox-up span { height:19px;width:17px;font-family:Simsun;font-size:16px;line-height:21px;overflow:hidden;position:absolute; }  
.tipbox-up em { color:#ccc; } 
.tipbox-up span { top:1px;color:#fff; } 
.sg-dialog .content .tipbox-up { left:30px;margin-left:0; } 
/* 支持的商家 */
.icon-source { float:left;_display:inline;margin:0 10px 10px 0;padding-left:20px;line-height:16px;color:#666;background-image:url(../../images/ui/icon-source.png);background-repeat:no-repeat; } 
.icon-taobao { background-position:0 0; } 
.icon-tmall { background-position:0 -20px; } 
.icon-paipai { background-position:0 -40px; } 
.icon-mbaobao { background-position:0 -60px; } 
.icon-jingdong { background-position:0 -79px; } 
.icon-vancl { background-position:0 -99px; } 
/* 分享的宝贝发布 */
#J_GoodsPubD { width:517px; } 
.ugc-dialog .form-row { margin:0 0 15px 0; } 
.ugc-dialog .form-row label { width:60px;font-size:12px;color:#333; } 
#J_GoodsPubD .base-input { width:405px; } 
#J_GoodsPubD .base-txa { width:405px;height:55px; } 
#J_GoodsPubD .goodsNm { width:415px;line-height:18px;padding:6px 0;font-size:14px;display:inline-block;zoom:1;overflow:hidden; } 
.ugc-dialog .goods-act { margin-top:15px;padding:15px 0 0 60px;border-top:1px dotted #d1d1d1; } 
#J_GoodsPubD .goods-gallery { float:left;width:415px;overflow:hidden; } 
#J_GoodsPubD .goods-gallery .gallery-bd { position:relative;width:415px;height:205px;overflow:hidden; } 
#J_GoodsPubD .goods-gallery .items { position:absolute;width:420px;height:2000em; } 
#J_GoodsPubD .goods-gallery .items ul { width:420px;height:205px;overflow:hidden; } 
#J_GoodsPubD .goods-gallery .items ul li { position:relative;float:left;_display:inline;width:94px;height:94px;margin:0 5px 5px 0;padding:2px;border:1px solid #dedede; }
#J_GoodsPubD .goods-gallery .items ul li i { display:none; } 
#J_GoodsPubD .goods-gallery .items ul li a { display:table-cell;width:94px;height:94px;*font-size:83px;text-align:center;vertical-align:middle;overflow:hidden; } 
#J_GoodsPubD .goods-gallery .items ul li a img { max-width:94px;max-height:94px;_width:94px;_height:94px;vertical-align:middle;opacity:0.6;filter:alpha(opacity=60); } 
#J_GoodsPubD .goods-gallery .items ul li a:hover img, #J_GoodsPubD .goods-gallery .items ul li.selected a img { opacity:1;filter:alpha(opacity=100); } 
#J_GoodsPubD .goods-gallery .items ul li.selected i { display:block;position:absolute;top:-1px;left:-1px;width:100px;height:100px;background:url(../../images/ui/selected.png) no-repeat;cursor:pointer; } 
#J_GoodsPubD .gallery-ft { padding:10px 0 0; } 
#J_GoodsPubD .gallery-ft .status { float:left;color:#666; } 
#J_GoodsPubD .gallery-ft .ap-btn { float:right;display:inline;margin-right:15px; } 
#J_GoodsPubD .gallery-ft .gallery-pagin { float:right; } 
#J_GoodsPubD .gallery-ft .gallery-pagin .num-box { float:left;height:18px;line-height:18px;margin:0 5px;padding:0 5px;color:#666;font-size:12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #bbb; } 
/* 分享的宝贝已存在 */
#J_GoodsExistD { width:450px; } 
#J_GoodsExistD .goods-avatar { float:left;display:inline;margin-right:16px;width:80px;height:80px;border:1px solid #dedede;overflow:hidden; } 
#J_GoodsExistD .goods-avatar img { max-width:80px;_width:80px; } 
#J_GoodsExistD .goods-info { float:left;width:310px; } 
#J_GoodsExistD .goods-info .goodsNm { line-height:1.2;margin-bottom:15px;font-size:14px;color:#333; } 
#J_GoodsExistD .goods-info .base-input { width:300px; } 
#J_GoodsExistD .goods-info .base-txa { width:300px;height:55px; } 
#J_GoodsExistD .goods-act { padding:15px 0 0 100px; } 
/* 添加其他图片 */
.ap-dialog { position:absolute;z-index:10000;width:360px;background:#f3f3f3;border:1px solid #dedede; } 
.ap-dialog .content { position:relative;padding:8px 5px 5px; } 
.ap-dialog .ap-form .ap-input { float:left;_display:inline;width:290px; } 
.ap-dialog .ap-form .src-sub { float:right;margin-top:6px;cursor:pointer; } 
.ap-dialog .ap-form .text-tip { display:none;padding:5px 0;line-height:1.1; } 
/* 分享宝贝成功 */
#J_PubSuccessD { width:350px;z-index:10000; } 
#J_PubSuccessD .success-text { margin-bottom:20px;text-align:center; } 
#J_PubSuccessD .success-text span { padding-left:20px;font-size:16px;font-weight:bold;background-position:center left; } 
#J_PubSuccessD .goCheck { margin-left:70px; } 

/* 你喜欢逛买单 */
.logo_xihuo { width:100px;height:83px;float:left;display:block;background:url(../../img/event/logo_1.gif) no-repeat;text-indent:-999px;overflow:hidden; } 

/* 签到成功 */
#checkin_intro{line-height:20px;color:#666;padding:10px;position:absolute;width:110px;background:#FFF;top:39px;right:0;border:1px solid #e4e4e4;}
#checkin_intro b{color:#F32A6B;}
#checkin_intro  img{padding:5px 0;}
#checkin_intro p{color:#999;line-height:20px;border-top:1px solid #f3f3f3;padding-top:5px;}

/* 类目导航条 */
.category-nav { height:36px;border-left:1px solid #f1f1e6\9;border-right:1px solid #f1f1e6\9;box-shadow:0 1px 1px rgba(34,25,25,0.2);-moz-box-shadow:0 1px 1px rgba(34,25,25,0.2);-webkit-box-shadow:0 1px 1px rgba(34,25,25,0.2); } 
.category-nav .nav-base { padding-top:3px;background:#dedede; } 
.category-nav .nav-bar { height:33px;background:#fff; } 
.category-nav .nav-bar li { float:left;margin-top:-3px;padding-top:10px;position:relative; } 
.category-nav .nav-bar li.on { background:url(../../images/ui/on.png) repeat-x; } 
.category-nav .nav-bar li a { float:left;height:18px;line-height:18px;padding:0 20px;color:#333;border-right:1px dotted #dedede; } 
.category-nav .nav-bar li.on a { padding:0 15px;font-size:14px;font-weight:bold; } 
.category-nav .nav-bar li a.more { padding:0 30px 0 20px; } 
.category-nav .nav-bar li.on a.more { padding:0 25px 0 15px; } 
.category-nav .nav-bar li a.more .arrow-dn { position:absolute;width:10px;height:18px;top:10px;right:20px;background:url(../../images/ui/arrow-d.png) no-repeat center right; } 
.category-nav .nav-bar li.on a.more .arrow-dn { right:15px; } 
/* 下拉菜单 */
.dropdown { display:none;position:absolute;top:31px;right:0;z-index:999;width:81px;margin:0;padding:2px 0;background:#fff;border:1px solid #e5e5e5; } 
.dropdown li { padding:0 10px; }  
.dropdown li a { display:block;padding:7px 0;line-height:1.2;color:#666;border-bottom:1px solid #F3F3F3; } 
.dropdown li.last a { border:none; } 
/* 九宫格 */
.nineGrid { width:204px;margin-right:13px;padding:15px 13px;color:#999;background-color:#fff;float:left; } 
.lastNineGrid { margin-right:0px; } 
.nineGrid h4 { line-height:16px;height:16px;font-size:16px; } 
.nineGrid h4 a { color:#666; } 
.nineGrid h4 a:hover { color:#5AD;text-decoration:none; } 
.nineGrid .bd { margin-top:13px; } 
.nineGrid .bd img{ width:62px;height:62px;border:1px solid #dedede;float:left;margin:0 2px 4px 2px; } 
.nineGrid .ft { padding-top:10px; } 
/*QQ捆绑帐号合并*/
.bundled_qq{padding:20px; overflow:hidden; text-align:center;}
.bundled_qq p{ text-indent:2em;  color:#666; text-align:left;line-height:28px;}
.bundled_qq .l-q-q{ background:url(../../images/ui/l-qq.png);display:inline-block; margin:0 5px;width:120px;height:24px;text-indent:-1999px;}
.bundled_qq .l-tencent{display:inline-block; line-height:16px;background-image:url(../../images/ui/l-tencent.png);background-repeat:no-repeat;  height:24px; width:120px; text-indent:-999px;}
.bundled_qq .s-tencent{display:inline-block;line-height:16px;background-image:url(../../images/ui/icons-share.png);background-repeat:no-repeat; background-position:0 -280px; margin:0 5px; color:#5AD; }
.bundled_qq .know{ margin-top:20px;vertical-align:middle }
.bundled_qq .kn{ height:24px; margin:0 auto; width:260px; clear:both; padding:10px 0 0 0}

.bundled_qq .know input{ vertical-align:middle; margin-right:2px;}
