/*------------------------------------------------
Basic Style Sheet since 2011-12-30
version: 1.0
author: Jeffer Xia heiniu
email: xzf3201@gmail.com heiniu@guang.com
website: http://www.guang.com/
------------------------------------------------*/
/* tag-book */
#container{min-height:800px;}
.tag-book { width:228px;position:absolute;background-color:#f7f7f7;border:1px solid #e5e5e5;padding-bottom:2px;border-top:0;-moz-border-radius:0px 0px 3px 3px;-webkit-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px; } 
.tag-book .hd { height:5px;background:url(../../images/ui/tag-book-bg2.jpg) no-repeat 0 0;position:absolute;width:230px;top:-5px;left:-1px;z-index:3; } 
.tag-book .bd { height:13px;background:#fff url(../../images/ui/card-exit-bg.gif) repeat-x 0 bottom;z-index:3;position:relative; }
.tag-book .bd .card-exit { display:block;height:13px;width:14px;margin-left:101px;background:url(../../images/ui/card-exit-bg2.gif) repeat-x 0 bottom; }
.tag-book .more-tag { display:block;height:28px;line-height:28px;color:#999999;cursor:pointer; }
.tag-book .tag-list {padding:4px 9px 10px 9px;background:#fff url(../../images/ui/tag-list-bg2.gif) repeat-x;z-index:3;position:relative;}

.tag-book .sub-tag{position:relative;overflow:hidden;}
.tag-book .sub-tag-list { position:absolute;z-index:1;top:0;width:208px;padding:4px 10px 10px 10px;background-color:#f7f7f7;border-bottom:1px solid #e5e5e5;-moz-border-radius:0px 0px 3px 3px;-webkit-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px; }
.tag-book .sub-tag-list li { float:left;display:inline;margin:8px 4px 0 4px;white-space:nowrap; }
.tag-book .sub-tag-list li a { float:left;display:block;color:#666;height:20px;line-height:20px;padding:0 3px;background:#fff;border:1px solid #e8e8e8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; }
.tag-book .sub-tag-list li.focus a{ background:#ffefd1;color:#666;border:1px solid #e8e8e8; }
.tag-book .sub-tag-list li.on a{ background:#5089b9;color:#fff; }
.tag-book .sub-tag-list li a:hover { text-decoration:none;border:1px solid #ccc; }
.tag-book .sub-tag-list li.focus a:hover{ border:1px solid #ccc; }
/* goods-title */
.goods-title { height:28px;line-height:28px;padding:0; } 
.goods-title h2 { color:#333;font-size:20px;float:left; }
.goods-title h2 i{margin:0 10px;}
.goods-title a.gallery-title{color:#0095bc;}
.goods-title a.gallery-title:hover{text-decoration:none;}
span.tag-title{font-weight:normal;font-size:14px;}
.hd-info { float:right;padding-top:5px; }

.goods-block { opacity:0; } 

/* cates-list */
.tag-book .cates-list{line-height:20px;padding-bottom:10px;}
.tag-book .cates-list h3{float:left;}
.tag-book .cates-list ul li{float:left;}
.tag-book .cates-list ul li a{color:#505050;padding:1px 8px;margin:0 2px;}
.tag-book .cates-list ul li.cur a{color:#EE2266;font-weight:bold;}
.tag-book .tag-list h3{float:left;margin-top:17px;}
.tag-book .tag-list .tag-hot{/*float:left;width:600px;*/}

.tag-book .tag-link li { margin:10px 3px 0 3px;padding-left:11px; } 

.tag-book .tag-link li a { padding:0 10px 0 1px; }
.goods-wall{margin-top:10px;}


/* nineGrid  */
.nineGrid{ width:204px;padding:15px 13px;color:#999;background-color:white;position:absolute; }
.lastNineGrid{ margin-right:0px; }
.nineGrid h4{ line-height:16px;height:16px;font-size:16px; }
.nineGrid h4 a{ color:#666; }
.nineGrid h4 a:hover{ color:#5AD;text-decoration:none; }
.nineGrid .bd { margin-top:13px; }
.nineGrid .bd img{ width:62px;height:62px;border:1px solid #dedede;float:left;margin:0 2px 4px 2px; }
.nineGrid .ft { padding-top:10px; }
.box-shadow { box-shadow:0 1px 3px rgba(34,25,25,0.2);-moz-box-shadow:0 1px 3px rgba(34,25,25,0.2);-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.2);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; } 
/* guide */
.guide{ display:none;position:fixed;bottom:-90px;width:100%;z-index:100;height:90px;background:rgba(47,42,30,0.8);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#cc2f2a1e',endColorstr='#cc2f2a1e');}
.guide .guide_boby{width:960px; margin:0 auto; height:90px; position:relative }
.guide .guide_boby p{display:block; padding-top:8px; margin:0; text-align:center; font-size:14px; font-weight:700; color:#fff; line-height:2;}
.guide .guide_add,.guide .guide_add .favorites,.guide .guide_add .weibo,.guide .guide_add .weibo a,.guide .guide_add a{ height:38px; display:block;text-indent:-1000em;background:url(../../images/ui/guide-img.png) no-repeat -1000px 0;}
.guide .guide_add{margin:0 auto; width:390px; padding-top:7px; }
.guide .guide_add .favorites{float:left; width:123px; background:url(../../images/ui/guide-img.png)}
.guide .guide_add .weibo{float:right;  width:256px;background:url(../../images/ui/guide-img.png) -133px 0 no-repeat; }
.guide .guide_add .weibo a{ display:block; float:left; width:115px;text-indent:-1000em;background:url(../../images/ui/guide-img.png) no-repeat -1000px 0;}
.guide .del{ width:53px; height:53px; position:absolute ; right:0; top:18px;z-index:999;}
.guide .del a{ display:block; height:53px; background:url(../../images/ui/guide-img.png) 0 -50px no-repeat;text-indent:-1000em;}
.guide .del a:hover{ display:block; height:53px; background:url(../../images/ui/guide-img.png) -54px -50px no-repeat;}

.ilike-m { width:31px;padding:0 12px 0 33px;left:67px;background-position:-96px 0;_background-position:0 -510px; } 
.ilike-m:hover { background-position:-96px -30px;_background-position:-76px -510px; } 
.ilike-m:active { background-position:-96px -60px;_background-position:-152px -510px } 
/*scene*/
.scene{position: relative;background-color: #fff;padding:10px 15px;height:110px;-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);margin-top:2px;border-radius: 0 0 3px 3px;margin-bottom: 15px;}
.scene-scroll{height:100px;}
.scene-scroll .scrollable{position:absolute;left:12px;overflow:hidden;width:935px;height:100px;}
.scene-scroll .scrollable .items{width:20000em;position:absolute;}
.scene-scroll .scrollable .items div{float:left;width:auto;}
.scene-scroll .scrollable .items div a{float:left;color:#333;position:relative;display:block;margin-right:6px;}
.scene-scroll .scrollable .items div a.last{margin-right:0;}
.scene-scroll .scrollable .items div a span{color:#000000;line-height:28px;text-align:right;z-index:2;}
.scene-scroll .scrollable .items div a span,.scene-scroll .scrollable .items div i{position:absolute;bottom:0;left:0;display:block;width:100%;height:28px;}
.scene-scroll .scrollable .items div i{background-color:#FFFFFF;opacity:0.8;filter:alpha(opacity=80);z-index:1;}
.scene .browse{background:url(http://static.guang.com/img/scene-button.png) no-repeat;display:block;height:24px;line-height:24px;border:none;cursor:pointer; text-decoration: none;}
* html .browse {background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.guang.com/img/scene-button.png');}
.scene .next{background-position:-34px 0;position:absolute;top:40px;right:-10px;width:50px;text-align:center;color:#fff;}
.scene .next.disabled{padding:0;opacity:0.3;filter:alpha(opacity=30);cursor: default;}
.scene .prev{position:absolute;background-position:0 0;top:40px;left:-12px;width:23px;}
.scene .prev.disabled{padding:0;opacity:0.3;filter:alpha(opacity=30); cursor: default;}
.scene .back{position:absolute;background-position:0 -52px;top:40px;left:-12px;width:21px;}
.scene  a.show-pic{color:#333;position:absolute;display:block;}
.scene  a.show-pic span{color:#000000;line-height:28px;text-align:right;z-index:2;}
.scene  a.show-pic i{background-color:#FFFFFF;opacity:0.8;filter:alpha(opacity=80);z-index:1;}
.scene  a.show-pic span,.scene  a.show-pic i{position:absolute;bottom:0;left:0;display:block;width:100%;height:28px;}
.scene  .tag-content{position:absolute;left: 180px; width:650px;border:0;height:80px;background:none;}
.emphasize-tag{color:#e09e50;margin:0 5px;}
.tag-tile{margin-left:4px;}
/* ≥£”√ */
.scene-common{margin-top:15px;}
.scene-common dt{float: left;line-height: 24px;}
.scene-common dd{float:left;margin-right:5px;}
.scene-common dd a{display: block;color:#505050;float:left;padding:0 15px;height:24px;line-height: 24px;background-color: #f5f5f5;}
