/* 弹出层 */
.dialog-box{ position: absolute; z-index:1001; zoom:1;}
.dialog-popup{position:relative; z-index:29; zoom:1; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F333333', endColorstr='#7F333333'); background:rgba(51,51,51,0.5); border-radius:5px 5px 5px 5px; padding:10px;}
.dialog-popup .dialog-title-bar{ height:30px; background:#fff; position:relative; color:#111; padding-top:10px;}
.dialog-popup .dialog-title-bar h2{ line-height:30px; margin-left:20px; font-size:14px; font-weight:700; zoom:1;}
.dialog-popup .dialog-title-bar a.close-dialog{background:url(../img/bbs2012/bbs_icon.png) -122px 0 no-repeat; position:absolute; top:25px; right:20px; width:9px; height:8px; font-size:0; line-height:0; overflow:hidden;}
.dialog-content{ background-color:#FFFFFF; zoom:1; overflow:hidden;}
.dialog-content p {padding:20px 0; text-align:center; color:#333; line-height:20px; font-size:14px;}
.dialog-content div {color:#333;}
.askbox { font-size:14px; padding:10px 0 0 20px;}
.askbox .answers {background: none repeat scroll 0 0 #E4E4E4; margin-top: 15px; padding: 10px 20px 10px 0; text-align: right; margin-left:-20px;}

.dialog-iframe-mask{position:absolute; left:0; top:0; border: none;}
.boxy-modal-blackout{position:absolute; left:0; top:0; border: none; background-color:#333333; overflow:hidden; z-index:999}

.boxy-btn1,
.boxy-btn2  {background-image:url(../img/bbs2012/bbs_icon.png); background-repeat:no-repeat; width:55px; height:28px; line-height:28px; padding:2px 0 4px 3px; text-align:center; overflow:hidden; font-size:14px; color:#fff; font-weight:700; border:0 none;}

.boxy-btn1 {background-position:0 -498px; color:#fff; margin-right:5px;}
.boxy-btn2 {background-position:-56px -498px; color:#58c; font-weight:300;}
.answers {padding-top:5px;}
.okbox {text-align:center;  background:url(../img/comm/ok.png) 75px 30px no-repeat;  padding:20px 0; font-size:14px; color:#333; line-height:28px;}
.okbox span {font-weight:700;}